---
import Layout from '../layouts/Layout.astro';
import DashNavBar from '../components/DashNavBar.astro';
import LandingHeader from '../components/LandingHeader.astro'
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import Card from '../components/Card.astro';
---

<body>
	<Layout title="DOT DAGER">
		<main>
			<div class="size-1">
				<!--
					<DashNavBar />
				-->
				<LandingHeader />
			</div>
			<div>
				<HeroSection />
			</div>
			<div>
				<ChargeSection />
			</div>
			

		</main>
	</Layout>

	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
